 html {
     box-sizing: border-box;
 }
 *, *::before, *::after {
     box-sizing: inherit;
 }
 h1, h2, h3, h4, h5, h6, p{
     padding: 0;
     margin: 0;
 }
 body {
    margin: 0;
     font-family: 'Source Serif Pro', serif;
     font-weight: 400;
 }
.container {
    max-width: 1105px;
    background-color: chartreuse;
    margin: 0 auto;
}
:root{
    --black-color: #000000;
    --blue-color: #5154FF;
    --grey-color: #6A6A6A;
    --radial-color: #9694FF;
    --white-color: #FFFFFF;
    --lightGrey-color: #F2F2F2;
}
 .header {
    margin-top: 19px;

 }
 .title_head {

 }
 .name {
    font-family: 'Great Vibes', cursive;
     font-size: 30px;
     color: black;

 }
 .buttons1{
    margin-left: 273.5pt;
     color: #6A6A6A;

 }
 .buttons2{
    margin-left: 21.5pt;
     color: #6A6A6A;
 }
 .buttons3{
    margin-left: 22pt;
     color: #6A6A6A;
 }
 .buttons4{
    margin-left: 21.7pt;
     color: #6A6A6A;
 }
 .buttons5{
    margin-left: 21.4pt;
     color: #6A6A6A;
 }
 .about{
    margin-top: 106pt;;
 }
 .info{

 }
 .aboutGrid{

 }
 .aboutGridItem{

 }
 .hiMyName{
    font-size: 24px;
     color: #6A6A6A;
 }
 .aboutMe{
    font-size: 36px;
     font-family: 'Source Serif Pro', serif;
     font-weight: 700;
     margin-top: 19pt;
     padding-right: 180px;
     line-height: 35pt;
 }
 .downloadResume{
    margin-top: 19pt;

 }
 img{

 }