html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
}

.container {
    max-width: 1105px;
    background-color: chartreuse;
    margin: 0 auto;
}

:root {
    --black-color: #000000;
    --blue-color: #5154FF;
    --grey-color: #6A6A6A;
    --radial-color: #9694FF;
    --white-color: #FFFFFF;
    --lightGrey-color: #F2F2F2;
}

.header {
    margin-top: 20px;

}

.title_head {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.name {
    width: 555px;
    height: 30px;
    margin-top: 4px;
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: black;

}

.experience {
    width: 81px;
    height: 20px;
    margin-top: 9px;
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #6A6A6A;
}

.education {
    width: 73px;
    height: 20px;
    margin-top: 9px;
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #6A6A6A;
}

.caseStudies {
    width: 89px;
    height: 20px;
    margin-top: 9px;
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #6A6A6A;
}

.personalProjects {
    width: 124px;
    height: 20px;
    margin-top: 9px;
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #6A6A6A;
}

.contact {
    width: 55px;
    height: 20px;
    margin-top: 9px;
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #6A6A6A;
}

.about {
    margin-top: 106pt;;
}

.info {

}

.aboutGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.aboutGridItem {
    width: 881px;
    height: 270px;
}

.hiMyName {
    font-size: 24px;
    color: #6A6A6A;
}

.aboutMe {
    font-size: 36px;
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 700;
    margin-top: 26px;
    line-height: 130%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.downloadResume {
    width: 180px;
    height: 53px;
    margin-top: 24px;
    color: #FFFFFF;
    font-family: 'Source Serif Pro', serif;
    font-style: italic;
    font-weight: 900;
    font-size: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), radial-gradient(115.69% 100% at 50% 0%, #9694FF 0%, #5154FF 71.35%);
    border-radius: 5px;

}

.email {
    margin-top: 25px;
    font-family: 'Source Serif Pro', serif;
    font-style: italic;
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
    color: #5154FF;

}

.foto {

    width: 189px;
    height: 261px;
    margin-left: auto;
}