html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
}

.container {
    max-width: 1105px;
    background-color: #FFFFFF;
    margin: 0 auto;

}

:root {
    --black-color: #000000;
    --blue-color: #5154FF;
    --grey-color: #6A6A6A;
    --radial-color: #9694FF;
    --white-color: #FFFFFF;
    --lightGrey-color: #F2F2F2;
}
.line{
    width: 1105px;
    margin: 0 auto;
}
.header {

}

.title_head {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 24px;
    padding-bottom: 24px;
    height: 77px;
}

.name {
    width: 555px;
    height: 30px;
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: black;

}

.buttons{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 32px;
    padding-top: 5px;
    height: 20px;
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #6A6A6A;
}

.experience {
    width: 81px;
    color: #6A6A6A;

}

.education {
    width: 73px;
}

.caseStudies {
    width: 89px;
}

.personalProjects {
    width: 124px;
}

.contact {
    width: 55px;
}

.about {

}

.info {
    height: 510px;
}

.aboutGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 35px;
    padding-top: 120px;
    padding-bottom: 120px;
    align-items: center;
}

.aboutGridItem {
    width: 881px;
    height: 270px;

}

.aboutRowItems{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-row-gap: 24px;
    height: 270px;
}

.hiMyName {
    width: 238px;
    height: 31px;
    font-size: 24px;
    line-height: 31px;
    color: #6A6A6A;
}

.aboutMe {
    font-size: 36px;
    height: 94px;
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.myMemoji{
    width: 189px;
    height: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 0;
}

.downloadResume {
    width: 180px;
    height: 53px;
    color: #FFFFFF;
    font-family: 'Source Serif Pro', serif;
    font-style: italic;
    font-weight: 900;
    font-size: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), radial-gradient(115.69% 100% at 50% 0%, #9694FF 0%, #5154FF 71.35%);
    border-radius: 5px;

}
.howConnectWithMe{
    width: 400px;
    height: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 24px;

}
.email {
    width: 180px;
    height: 20px;
    font-family: 'Source Serif Pro', serif;
    font-style: italic;
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
    color: #5154FF;
}
.icons{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 24px;
    max-height: 20px;
}
.a{
    height: 20px;
}
.facebook{
    width: 20px;
    height: 20px;
}
.figma{
    width: 20px;
    height: 20px;
}
.github{
    width: 20px;
    height: 20px;
}
.telegram{
    width: 20px;
    height: 20px;
}
.vk{
    width: 20px;
    height: 20px;
}

.work{
    height: 643px;
}
.workGrid{
    padding-top: 120px;
    padding-bottom: 120px;
}

.workGridItem{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 35px;
    height: 403px;

}
.workExperience{
    width: 250px;
    color: #6A6A6A

}
.workPlace{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-row-gap: 50px;
    height: 403px;
}
.jobTitle{
    height: 24px;
    width: 820px;
    font-family: 'Source Serif Pro', serif;
    font-style: italic;
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
}
.period{
    height: 21px;
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #6A6A6A;
}
.whatIDid{
    width: 820px;
    height: 48px;
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.miceTours{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-row-gap: 8px;
    height: 109px;
}
.supplyShift{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-row-gap: 8px;
    height: 109px;
}

.fotonika{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-row-gap: 8px;
    height: 85px;
}
.whatIDidFotonika{
    width: 820px;
    height: 24px;
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.educationGrid{
    padding-top: 120px;
    padding-bottom: 120px;
}

.educationGridItem{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 35px;
    height: 109px;
}

.myEducation{
    width: 250px;
    color: #6A6A6A
}

.aboutEducation{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 35px;
    height: 109px;
}

.bachelor{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-row-gap: 8px;
    height: 85px;
}

.speciality{
    width: 250px;
    height: 24px;
    font-family: 'Source Serif Pro', serif;
    font-style: italic;
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.master{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-row-gap: 8px;
    height: 109px;
}
.specialityMaster{
    width: 250px;
    height: 48px;
    font-family: 'Source Serif Pro', serif;
    font-style: italic;
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}
.phd{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-row-gap: 8px;
    height: 85px;
}

.caseStudiesGrid{
    padding-top: 120px;
    padding-bottom: 120px;
}

.caseStudiesGridItem{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 35px;
    height: 514px;
}

.myCaseStudies{
    width: 250px;
    height: 21px;
    color: #6A6A6A;
}

.aboutCaseStudiesItem{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 35px;
    width: 820px;
    grid-template-rows: repeat(2,1fr);
    grid-row-gap: 50px;
}
.djing{
    grid-template-rows: repeat(2,1fr);
    grid-row-gap: 8px;
    width: 40px;
    height: 24px;
    font-family: 'Source Serif Pro',serif;
    font-style: italic;
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    color: #5154FF;

}
.djPhoto{
    width: 327.5px;
    height: 200px;
}

.barCulture{
    grid-template-rows: repeat(2,1fr);
    grid-row-gap: 8px;
    width: 392.5px;
    height: 24px;
    font-family: 'Source Serif Pro',serif;
    font-style: italic;
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    color: #5154FF;
}

.barCulturePhoto{
    width: 327.5px;
    height: 200px;
}